#errors {
  background: #f8f8f8;
  height: 100vh;
  header {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 20px 0px 20px 70px;
    border-bottom: 1px solid #e2e2e2;
    div {
      a img {
        width: 115px;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1 {
      font: 700 36px "poppins", sans-serif;
      margin-top: 30px;
    }

    h3 {
      font: 400 20px "poppins", sans-serif;
      margin: 15px 0 20px 0;
    }

    .separator {
      display: flex;
      height: 1px;
      width: 100%;
      background: #333;
    }
    .pills {
      display: flex;
      align-items: center;
      gap: 100px;
      img{
        max-width: 200px;
      }
    }
  }
}
