.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  width: 100%;
  max-width: 575px;
  background: #333;
  padding: 30px 30px;
  position: relative;
  border-radius: 10px;
}
div {
  .close {
    position: absolute;
    right: 0.5rem;
    top: 0rem;
    border: 0;
    background: transparent;
    transition: filter 0.2s;
    &:hover {
      filter: brightness(2);
    }
  }

  h2 {
    font: 500 24px "Poppins", sans-serif;
    color: #f8f8f8;
    margin-bottom: 20px;
    text-align: left;
  }

  .buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
  }
}
