.room-code {
  display: flex;
  border: 1px solid #835afd;
  cursor: pointer;
  border-radius: 8px;
  height: 40px;
  background: #fff;
  overflow: hidden;
  transition: 0.2s;
  &:hover {
    filter: brightness(0.9);
  }

  div {
    background: #835afd;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .span-room-code {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px;
    width: 260px;
    font: 500 14px;
  }
  span {
    display: none;
  }

  @media (max-width: 525px) {
    display: flex;
    .span-room-code {
      display: none;
    }
    span {
      display: block;
      align-self: center;
      flex: 1;
      padding: 0 5px 0 5px;
      width: 40px;
      font: 500 12px;
    }
  }
}
